#questionAnswer {
    border: 2px solid grey;
    border-radius: 5px;
    width: 70%;
    height: 70%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    word-wrap: break-word;
}

h3 {
    display: flex;
    flex-direction: column;
}

button {
    width: 140px;
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin: 5px 0px 20px 0px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(241, 186, 83);
}

.questionContainer {
    background-color: #EEEEEE;
    -webkit-box-shadow: 6px 7px 15px -9px #000000; 
    box-shadow: 6px 7px 15px -9px #000000;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    width: 70%;
}

.answerContainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: space-around;
    width: 70%;
}

.answerOption {
    /* padding: 21px; */
    margin: 20px; 
    width: 36%;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

label {
    background-color: #EEEEEE;
    -webkit-box-shadow: 6px 7px 15px -9px #000000; 
    box-shadow: 6px 7px 15px -9px #000000;
    padding: 21px;
    /*margin: 20px; */
    border-radius: 5px;
    display: inline-block;
    /* justify-self: center;
    text-align: center; */
    width: 70%;
}

label:hover {
  background-color: #dfd;
  cursor: pointer;
}

 input[type="radio"]:checked + label {
    background-color: aqua;
}